.footer {
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding: 6rem;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
}

.recentArticles {
  border-right: 1px solid #eee;
}

.title {
  font-size: 2rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.recentArticlesTitle {
  composes: title;
}

.recentArticlesList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recentArticlesListItem {
  width: 33.33%;
  padding: 0 3rem 0 0;
  box-sizing: border-box;

  &:last-child {
    padding: 0;
  }
}

.recentArticlesLink {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #44444a;
  padding: .3rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.recentArticlesLinkTitle {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.recentArticlesLinkSubTitle {
  padding: 0;
  margin: 0;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.followMeAndMyCompany {
  flex: 0 0 20%;
  margin-left: 2rem;
  box-sizing: border-box;
}

.followMe {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.followMeTitle {
  composes: title;
}

.myCompanyTitle {
  composes: title;
}

.myCompanyLink {
  color: inherit;
  text-decoration: none;
}

.postFooter {
  display: flex;
  align-items: center;
  background-color: #33333a;
  height: 4rem;
}
