.mapAndContactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1280px;
  position: relative;
  z-index: 1;
  justify-content: flex-end;
}

.googleMapContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -25px;
  left: 0;
}

.googleMapElement {
  width: 100%;
  height: 100%;
}
