.professionalProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  padding: 100px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 0 0 0 2rem;
}

.content {
}

.titleWrapper {
  border-left: 0.5rem solid #44444a;
  padding-left: 1.5rem;
  padding: 0.6rem 0 0.6rem 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -2rem;
  -webkit-font-smoothing: antialiased;
}

.title {
  padding: 0;
  margin: -0.3rem 0 0 0;
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 1.2;
  text-indent: -5px;
  margin-bottom: 0.4rem;
}

.subTitle {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.4;
  text-indent: -1px;

}

.body {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

  p {
    margin: 0 0 1.5rem 0;

    &:first-child {
      font-style: italic;
      letter-spacing: 0.5px;
      font-family: georgia;
      font-size: 1.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
