.testimonials {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 100px 0;
  background-color: #fff;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 0 0;
  box-sizing: border-box;
  position: relative;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.title {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 3rem;
  font-weight: 600;
}

.subTitle {
  padding: 0;
  margin: 0;
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.testimonialsSlider {
  margin: 0 -2rem;
  position: relative;
}

.list {
  display: flex;
  wrap: no-wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.listItem {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  opacity: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;

  &--active {
    composes: listItem;
    opacity: 1;
  }
}

.listItem--active {
  composes: listItem;
  opacity: 1;

  & + li {
    opacity: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  background-color: #fff;
  border-radius: 50%;
  border: 0;
  color: #44444a;
  outline: none;
  cursor: pointer;
  box-shadow: #e5e5e5 0 0 100px 0px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #44444a;
    color: #fff;
  }

  svg {
    width: 1.4rem;
  }
}

.disabledButton {
  composes: button;
  opacity: .5;

  &:hover {
    background-color: #f5f5fa;
    color: #44444a;
    cursor: not-allowed;
  }
}

.previousButton {
  composes: button;

  left: -6rem;

  svg {
    transform: rotate(180deg);
  }
}

.disabledPreviousButton {
  composes: previousButton;
  composes: disabledButton;
}

.nextButton {
  composes: button;
  right: -6rem;

  svg {
    transform: rotate(0deg);
  }
}

.disabledNextButton {
  composes: nextButton;
  composes: disabledButton;
}
