.workCards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px 0;
  background: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: .5rem 0rem;
  padding: 0;

  @media screen and (min-width: 680px) {
    margin: .5rem .5rem;
  }

  @media screen and (min-width: 1280px) {
    margin: -2rem;
  }
}

.listItem {
  display: flex;
  width: 100%;
  padding: .5rem 1rem;
  box-sizing: border-box;

  @media screen and (min-width: 680px) {
    width: 50%;
    padding: .5rem .5rem;
  }

  @media screen and (min-width: 1280px) {
    width: 33.333%;
    padding: 2rem 2rem;
  }
}
